body {
    background-color: #ffffff;
   }
   
   .wrapper {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
   }
   
   .button {
     background-color: black;
     color: white;
     font-size: 30px;
     padding: 30px;
     border-radius: 100px;
   }
   
   .button:hover {
     cursor: pointer;
     background-color: rgb(255, 31, 236);
     transition: 8ms ease-out;
   }
   