
body {
  cursor: url('imgs/cursor.png'), pointer;

}

.song :hover{
  cursor: url('imgs/cursor1.png'), auto;
}

a:hover{
  cursor: url('imgs/cursor1.png'), auto;
}

a:link{
  color: red;
}

a:visited{
  color: red;
}

a:link, a:visited{
  text-decoration: none;
}




@font-face {
    font-family: 'ArialBlack';
    src: url('fonts/ArialBlack.ttf');
    font-weight:normal;
    font-style:normal;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
}

.row {
  display: flex;
  text-align: center;
  padding-top: 60px;
}

/* SMALL PAGE */
@media all and (max-width: 800px) {

  body{
  padding-top: 130px;
  }

  .block{
  display: flex;
  position: fixed;
  background-color: black;
  width: 100%;
  top: 0%;
  left: 0%;
  height: 100px;
  z-index: 1;
  }

  .song {
  display: flex;
  order: 2;
  font-family: 'ArialBlack';
  color: red;
  justify-content: center;
  align-items: center;
  font-size: 10vw;
  letter-spacing: 30px;
  height: 100px;
  }

  .fixed {
  position: fixed;
  bottom: 5%;
  left: 21%;
  }

  .bird{
  display: flex;
  scale: 80%;
  justify-content: center;
  align-items: center;
  font-style: italic;
  z-index: 2;
  }

  .afixed{
  position: fixed;
  left: 29%;
  top: 1%;
  }

  .bird:hover{
  scale: 100%;
  cursor: url('imgs/cursor1.png'), auto;
  }

}

/* LARGE PAGE */
@media all and (min-width: 801px) {

  body{
    padding-top: 200px;
    }

  .block{
    display: flex;
    position: fixed;
    background-color: black;
    width: 100%;
    top: 0%;
    left: 0%;
    height: 170px;
    z-index: 1;
  }

  .song {
  display: flex;
  order: 2;
  font-family: 'ArialBlack';
  color: red;
  justify-content: center;
  align-items: center;
  font-size: 8vw;
  letter-spacing: 30px;
  height: 100px;
  }

  .fixed {
  position: fixed;
  right: 30%;
  bottom: 5%;
  }

  .bird{
  display: flex;
  scale: 100%;
  justify-content: center;
  align-items: center;
  z-index: 2;
  }
  
  .afixed{
  position: fixed;
  left: 30%;
  top: 1%;
  }

  .bird:hover{
  scale: 120%;
  }
    
}




/* first image */

.tc-container{
  width: 50%;
  height: auto;
  position: relative;
}
.tc-container img{
  width: 50%;
  Height: auto;
}
.top-img{
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
}
.top-img:hover {
  width: 50%;
  height: auto;
  position: absolute;
  opacity: 1;
}


/* second image */

.ab-container{
  width: 50%;
  height: auto;
  position: relative;
}
.ab-container img{
  width: 50%;
  Height: auto;
}
.top-img{
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
}
.top-img:hover {
  opacity: 1;
}


/* third image */

.yz-container{
  width: 50%;
  height: auto;
  position: relative;
}
.yz-container img{
  width: 50%;
  Height: auto;
}
.top-img{
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
}
.top-img:hover {
  opacity: 1;
}

/* fourth image */

.wx-container{
  width: 50%;
  height: auto;
  position: relative;
}
.wx-container img{
  width: 50%;
  Height: auto;
}
.top-img{
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
}
.top-img:hover {
  opacity: 1;
}